:host{

    .content-facturas{
        font-size: 15px;
        margin: 0 auto;
        width: 95%;        
    }
    .img-facturas{
        display: inline-block;
        height: 25px;
        width: 25px;        
    }
    .link-fertilizantes a{                
        color: #80af45;
        padding-right: 5px;
        text-decoration: none;
    }
    .link-fertilizantes img{
            vertical-align: middle;
    }

}