<ion-header>
    <div class="seccion-menu2">
      <ion-buttons slot="start" class="col-head1">
          <ion-img style="width: 30px; height: 30px;" src="/assets/icon/log2.jpg"></ion-img>
      </ion-buttons>
      <div class="col-head2">
        <div style="color: white;">Agricola</div>
      </div>
      <ion-buttons slot="start" class="col-head3">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons> 
    </div>
</ion-header>
  
  <ion-content>
    
    <ion-grid>
      <ion-row>

        <div class="menu-cont-wrapp" style="padding: 10px;">
            <div class="search-col1">
                <div style="color:#4d4d4d; font-weight: 600;">
                  Cupo de crédito
                </div>
            </div>
            <div class="search-col2">
              <img style="width: 25px; height: 25px;" (click)="ferOptions()" src="/assets/icon/fer-set.png">

              <div class="link-fertilizantes" *ngIf="options">
                  <!--<hr/>
                  <a routerLink="/pedidos-fertilizantes">Solicitar un pedido</a><img style="width: 18px; height: 18px;" src="/assets/icon/sol_pedido.png">-->
                  <hr/>
                  <a (click)="openModal()">Buscar</a><img style="width: 18px; height: 18px;" src="/assets/icon/bus_fertilizantes.png">
              </div> 

            </div>          
        </div>
        <div class="menu-cont-wrapp" style="padding: 10px;">
            <div class="search-col1">
                <div style="color:#4d4d4d; font-weight: 600;">
                  Crédito disponible
                </div>
            </div>
            <div class="search-col2">

                <div style="color:#4d4d4d; font-weight: 600;">
                  Facturas por pagar
                </div>              

            </div>          
        </div>

      </ion-row>
    </ion-grid>

    <ion-card>
      <div style="text-align: center;">
        <div style="display: inline-block;" id="pie-chart-div"></div>
      </div>
    </ion-card>

    <ion-card>          
        <div class="menu-cont-wrapp">
            <div class="search-col1">
                <div style="color:#4d4d4d; font-weight: 600; font-size: 12px;">
                  Cupo de crédito aprobado
                </div>
            </div>
            <div class="search-col2">
                <div>
                    <div style="display: inline-block; text-align: right;">
                      <img 
                        style="width: 25px; height: 25px;" 
                        src="/assets/icon/fer1.png"/>
                    </div>
                </div>
            </div>
            <div class="search-col1">
                <div>
                  ${{credito_aprobado}}
                </div>
              </div>
            <div class="search-col1">
                <div align="right">
                  {{per_credito_aprobado}}% del valor
                </div>
            </div>          
        </div>
    </ion-card>

    <ion-card>          
        <div class="menu-cont-wrapp">
            <div class="search-col1">
                <div style="color:#4d4d4d; font-weight: 600; font-size: 12px;">
                  Cupo de crédito utilizado
                </div>
            </div>
            <div class="search-col2">
                <div>
                    <div style="display: inline-block; text-align: right;">
                      <img 
                        style="width: 25px; height: 25px;" 
                        src="/assets/icon/fer2.png"/>
                    </div>
                </div>
            </div>
            <div class="search-col1">
                <div>
                  ${{credito_utilizado}}
                </div>
              </div>
            <div class="search-col1">
                <div align="right">
                  {{per_credito_utilizado}}% del valor
                </div>
            </div>          
        </div>
    </ion-card>

    <ion-card>          
        <div class="menu-cont-wrapp">
            <div class="search-col1">
                <div style="color:#4d4d4d; font-weight: 600; font-size: 12px;">
                  Cupo de crédito disponible
                </div>
            </div>
            <div class="search-col2">
                <div>
                    <div style="display: inline-block; text-align: right;">
                      <img 
                        style="width: 25px; height: 25px;" 
                        src="/assets/icon/fer3.png"/>
                    </div>
                </div>
            </div>
            <div class="search-col1">
                <div>
                  ${{credito_disponible}}
                </div>
              </div>
            <div class="search-col1">
                <div align="right">
                  {{per_credito_disponible}}% del valor
                </div>
            </div>          
        </div>
    </ion-card>

  </ion-content>
  