:host {

	/*ion-header ion-toolbar::shadow {
        --background: #81b046;
        --color: white;
        }*/
              
        .link-fertilizantes a{                
                color: #80af45;
                padding-right: 5px;
                text-decoration: none;
        }
        .link-fertilizantes img{
                vertical-align: middle;
        }

}