<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start" class="menu-nominacion1">
          <ion-back-button defaultHref="venta-azucar"></ion-back-button>
      </ion-buttons>
      <ion-title class="menu-nominacion2">Venta de azucar</ion-title>
      <div class="search-nominacion">
          <ion-icon name="search"></ion-icon>   
      </div>  
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card class="backgrund-detail" style="line-height: 2;">
        <ion-grid>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Entrega</div>
            </ion-col>
            <ion-col align="right">
              343455
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Cantidad nominada</div>
            </ion-col>
            <ion-col align="right">
              20
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Cantidad ingresados</div>
            </ion-col>
            <ion-col align="right">
              10
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Cantidad sacos asignados</div>
            </ion-col>
            <ion-col align="right">
              5
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Faltante de carga</div>
            </ion-col>
            <ion-col align="right">
              10
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Contenedores embalados</div>
            </ion-col>
            <ion-col align="right">
              5
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div style="color: black;">Pendiente por embalar</div>
            </ion-col>
            <ion-col align="right">
              5
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>


</ion-content>
