:host {

    .tab-detail1, .tab-detail2, .tab-detail3 {
        border-bottom: 5px solid #064789;
        margin-bottom: -7px;
    }

    .tab-detail1{
        margin-left: -7px;
    }

    .tab-detail3{
        margin-right: -7px;
    }

}