:host{

    .link-fertilizantes a{                
        color: #80af45;
        padding-right: 5px;
        text-decoration: none;
    }
    .link-fertilizantes img{
        vertical-align: middle;
    }
    .date-pedido{
        display: inline-block;
        font-weight: 600;
        padding-left: 10px;
        vertical-align: middle;
    }
    .cont-ped-date{
        display: block;
        width: 100%;
        padding: 5px 35px;
    }
    .space-data-date{
       margin: 15px 0;
    }

}