<ion-header>
  <div class="seccion-menu3">
    <ion-buttons slot="start" class="col-head1">
        <ion-icon style="font-size: 25px;" name="arrow-back" color="primary-contrast" (click)="backPage()"></ion-icon>
    </ion-buttons>
    <div class="col-head2">
      <div style="color: white;">Proceso Detalle</div>
    </div>
    <ion-buttons slot="start" class="col-head3">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>

  <div class="bor-botom-nom">
    <ion-card class="backgrund-detail" style="line-height: 2;">
        <ion-grid>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Booking</div>
            </ion-col>
            <ion-col align="right">
                <div style="color: #028c3e;">{{booking}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="border-line-detail">
            <ion-col>
              <div style="color: black;">Entrega</div>
            </ion-col>
            <ion-col align="right">
              <div style="color: #028c3e;">{{entrega}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </div>  

  <ion-card>

    <ion-grid>
        <ion-row>
          <ion-col>
            <b style="color: #4d4d4d;">Contenedores</b>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad nominados</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_nom}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad contenedores ingresados</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_ing}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad de embalados</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_emb}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Pedientes por embalar</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{pend_emb}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>

    <ion-grid>
        <ion-row>
          <ion-col>
            <b style="color: #4d4d4d;">Carga</b>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad de sacos nominados</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_sacos}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad de sacos embalados</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_sac_emb}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Cantidad de sacos pendiente por embalar</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{cant_sac_pen}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Total existencia</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{total_exist}}
        </ion-col>
      </ion-row>
      <ion-row class="border-line-detail">
        <ion-col size="10">
          <div style="color: black;">Faltante de carga</div>
        </ion-col>
        <ion-col size="2" align="right">
          {{falt_carga}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
